
<!--@{
    ViewBag.Title = "账号充值";
    Layout = "~/Views/Shared/_Customer.cshtml";
}-->

<!--ins_fullcontent start-->
		<div class="ins_rightmian ins_fullcontent" id="ins_rightmain">
			<div class="ins_rightcontent">
				<div class="content_timetoggle content_toptitle">
					<div class="statushead PolicyStatus">
						<ul class="nav nav-pills">
							<li class="active">账号充值</li>
						</ul>
						<ul class="nav nav-pills pull-right">
							<li><a href="http://www.cisa110.com">充值接口</a></li>
							<li><a href="~/Admin/ReCharge/Detail">充值明细</a></li>
						</ul>
					</div>
				</div>
				<div class="content_main">
				</div>
			</div>
		</div>
		<!--ins_fullcontent end-->



