@model Bx_Core.ReCharge
<!--@using Bx_Core
@using Bx_Core.Types-->

@{
    ViewBag.Title = "充值";
    Layout = null;
    
}


<script type="text/javascript">
    function OnSuccess(data) {
        if (data.Status) {
            var BootstrapDialog1 = new BootstrapDialog({
                title: "提示",
                message: data.Message,
                buttons: [{
                    icon: "glyphicon glyphicon-remove",
                    label: "关闭",
                    action: function (dialogItself) {
                        dialogItself.close();
                        window.location.href = data.Url;
                    }
                }]
            });
            BootstrapDialog1.setType(BootstrapDialog.TYPE_SUCCESS);
            BootstrapDialog1.open();
        } else {
            var BootstrapDialog2 = new BootstrapDialog({
                title: "提示",
                message: data.Message,
                buttons: [{
                    icon: "glyphicon glyphicon-remove",
                    label: "关闭",
                    cssClass: "btn-danger",
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
            BootstrapDialog2.setType(BootstrapDialog.TYPE_DANGER);
            BootstrapDialog2.open();
        }
    }
    function OnFailure() {
        var BootstrapDialog0 = new BootstrapDialog({
            title: "提示",
            message: "Connection error",
            buttons: [{
                icon: "glyphicon glyphicon-remove",
                label: "关闭",
                cssClass: "btn-danger",
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
        BootstrapDialog0.setType(BootstrapDialog.TYPE_DANGER);
        BootstrapDialog0.open();
    }
    
</script>
<div class="wrapper">
    <div class="register-content text-center">
    	@using (Ajax.BeginForm("Save", "ReCharge", new AjaxOptions { Url = Url.Action("Save", "ReCharge", new { area = "AdminFinance" })}, new { id="FinanceSaverecharge"}))   	
        {  
        	<div class="form-group savegroup">
        		<label>登录账号</label>
                <input type="text" name="username" id="username" readonly="readonly" value="@ViewBag.userNamer" />
        	</div>
        	<div class="form-group savegroup">
        		<label>充值金额</label>
        		<input type="text" name="ReChargeAmount" id="ReChargeAmount" />
        	</div>
        }
    </div>
</div>






